/* *{
    margin: 0px;
    padding: 0px;
} */


@media screen and (min-width:600px) {
.address{
    display: inline-block;
    width: 32%;
    vertical-align: top;
    
}

.contact{
    display: inline-block;
    width: 32%;
    vertical-align: top;
    border-left: 2px solid brown;
    border-right: 2px solid brown;
    
}
.time{
    display: inline-block;
    width: 32%;
    vertical-align: top;
    }  
}

@media screen and (max-width:600px) {
    .time,.contact,.address{border: 2px solid black;}
}

h4,p,h1{
    text-align: center;
}
img,.img{ display: inline-block;
    height: 170px;
    width: 167px;
    padding: 2%;
    border-radius: 20%;
}

#home{
    background-color: rgb(54, 45, 45);
    border-radius: 4px;
    margin: 0%;
    padding: 0%;
    
}

nav{
    margin: 0%;
    list-style-type: none;
    position: sticky;
    overflow: hidden;
    top: 0;
    width: 100%;
}
nav li a{
    text-decoration: none;
    color: white;
    font-size: 0.7rem;
    font-size: 100%;
}

nav li a:hover{
    color: rgb(42, 8, 231);
    
}

.about1 {color: rgb(42, 8, 231);}

nav li{
    list-style: none;
    display: inline-block;
    border-radius: 3px;
    margin: 3px;
    margin-right: 20px;
    padding: 2px;
    font-weight: bold;
}

li img{
    position:relative;
    /* display: flex;
    flex-direction: row-reverse; */
    display: grid;
    right: 0px;
    height: 15px;
    width: 15px;
}

li img{
    position:relative;
    /* display: flex;
    flex-direction: row-reverse; */
    display: grid;
    right: 0px;
    height: 20px;
    width: 20px;
    border-radius: 60%;
}

.about1{margin-right: 120px;}

.insta{
    position: absolute;
    right: 10px;
}
.fb{
    position: absolute;
    right: 40px;
}
.twitter{
    position: absolute;
    right: 70px;
}

body{
    background-image: radial-gradient(red,white);
}
a.btn{
    text-align: center;
    padding: 0.5%;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    color: white;
    background-color: rgb(11, 27, 252);
}
.btn:hover{
    background-color: rgb(73, 67, 67);
}
footer{
    color: blanchedalmond;
    text-shadow: 1px 1px black;
    background-color: rgb(14, 13, 13);
    border-radius: 2px;
}
.hello{ position: relative;
    text-align: center;
    animation-name: bmp;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes bmp{
    0%{
        left: 0px;
    }
    25%{
        left:15%;
    }
    50%{
        left: 0px;
    }
    75%{
        left:-15%;
    }
    100%{
        left: 0px;
    }
}
hr{
    border-bottom: 2px solid brown;
}
